# Series

In [1]:
import numpy as np
import pandas as pd

## Creating Series Object

In [2]:
s = pd.Series([0,1,1,2,3,5,8])

In [3]:
print(s)

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [4]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8])

In [5]:
print(s)

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64

In [6]:
s.values

array([0., 1., 1., 2., 3., 5., 8.])

In [7]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
for v in s.values:
    print(v)

0.0
1.0
1.0
2.0
3.0
5.0
8.0

In [9]:
for i in s.index:
    print(i)

0
1
2
3
4
5
6

In [10]:
for item in zip(s.index, s.values):
    print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [11]:
s[0]

0.0

In [12]:
s[5]

5.0

In [13]:
mercury = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

In [14]:
print(mercury )

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [15]:
mercury['mass']

0.33

In [16]:
mercury ['dayLength']

4222.6

In [17]:
arr = np.random.randint(0,10,10)

In [18]:
arr

array([1, 6, 9, 9, 1, 5, 6, 9, 2, 1])

In [19]:
ind = np.arange(10,20)

In [20]:
rand_series = pd.Series(arr, index=ind)

In [21]:
print(rand_series)

10    1
11    6
12    9
13    9
14    1
15    5
16    6
17    9
18    2
19    1
dtype: int32

In [22]:
# mercury  = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

d={}
d['mass'] = 0.33
d['diameter'] = 57.9
d['dayLength'] = 4222.6

In [23]:
print(d)

{'mass': 0.33, 'diameter': 57.9, 'dayLength': 4222.6}

In [24]:
mercury  = pd.Series(d)

In [25]:
print(mercury )

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [26]:
mercury = pd.Series(d, index=['mass','diameter',])

In [27]:
print(mercury)

mass         0.33
diameter    57.90
dtype: float64

## iloc and loc

In [28]:
s = pd.Series([0.0, 1, 2, 3 ,4 ,5, 8], index=[1, 2, 3, 4, 5, 6, 7])

In [29]:
print(s)

1    0.0
2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
7    8.0
dtype: float64

In [30]:
s.loc[4]        # loc = location

3.0

In [31]:
s.iloc[4]              # implicit loaction

4.0

In [32]:
# s.loc[0]

In [33]:
mercury  = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

In [34]:
mercury.loc['mass']

0.33

In [35]:
mercury.iloc[0]

0.33

In [36]:
mercury.iloc[-1]

4222.6

In [37]:
mercury.iloc[:2]

mass         0.33
diameter    57.90
dtype: float64

In [38]:
mercury.loc['mass':'dayLength']

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

## Simple Operations

In [39]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
        index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune', 'Pluto'])

In [40]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [41]:
mass.iloc[1]

4.87

In [42]:
mass.loc['Earth']

5.97

In [43]:
mass['Earth']

5.97

In [44]:
mass['Earth':'Jupiter']

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [45]:
mass[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [46]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [47]:
mass > 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [48]:
mass[mass > 100]

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [49]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [50]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [51]:
mass * 2

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [52]:
mass / 10

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [53]:
np.mean(mass)

296.29184444444445

In [54]:
np.amin(mass)

0.0146

In [55]:
np.amax(mass)

1898.0

In [56]:
np.median(mass)

5.97

In [57]:
mass + mass

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [58]:
mass - mass

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [59]:
big_mass = mass[mass> 100]

In [60]:
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [61]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [62]:
new_mass = mass + big_mass

In [63]:
new_mass

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [64]:
pd.isnull(new_mass)

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [65]:
new_mass[-pd.isnull(new_mass)]

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [66]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [67]:
mass['Moon'] = 0.7346

In [68]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [69]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

## Task

### Task-1

Collect number for the diameters of these planets(heavenly bodies) and store it as a series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [70]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index=['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [71]:
density = pd.Series([])

In [72]:
print(density)

Series([], dtype: float64)

In [73]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [74]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [75]:
for planet in mass.index:
    density[planet]=mass[planet]/(np.pi * diameter[planet]*  diameter[planet]* diameter[planet]/6)

In [76]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [77]:
density = mass/(np.pi * np.power(diameter, 3)/6)

In [78]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [79]:
mass['planetX']=6

In [80]:
density = mass/(np.pi * np.power(diameter, 3)/6)

In [81]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

### Task-2 

Given this density Series , replace all values which NaNs with the mean density of all planets.**bold text**

In [82]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

In [83]:
density_mean = np.mean(density)
for key in density.index:
    if pd.isnull(density[key]):
        density[key] = density_mean

In [84]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX    6.031069e-12
dtype: float64

In [85]:
density[pd.isnull(density)] = np.mean(density)

In [86]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX    6.031069e-12
dtype: float64

### Task-3 

Compare Dictonary with Series:
- check if some key is present
- summing values
- computing std

In [87]:
my_dict = {}
N=100000
for i in range(N):
    my_dict[i] = i*10

In [88]:
my_series = pd.Series(my_dict)

In [89]:
M = 10000

In [90]:
arr = np.random.randint(0, N, M)

In [91]:
%%time
for i in arr:
    i in my_dict

Wall time: 37.7 ms

In [92]:
%%time
for i in arr:
    i in my_series

Wall time: 64.1 ms

In [93]:
%%timeit
sum(my_dict.values())

3.05 ms ± 239 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [94]:
%%timeit
np.sum(my_series)

491 µs ± 45.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [95]:
%%timeit
mean = sum(my_dict.values())/N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance ** 0.5

31.5 ms ± 1.35 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [96]:
%%timeit
np.std(my_series)

2.26 ms ± 398 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

## Nifty case-study

In [97]:
nifty = pd.read_csv('nifty.csv', index_col=0).iloc[:,0]

In [98]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
                 ...
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [99]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [100]:
np.mean(nifty)

11432.632244897959

In [101]:
np.median(nifty)

11512.4

In [102]:
np.std(nifty)

453.28669474598075

What fraction of days did the markets close higher than the previous day's close

In [103]:
nifty[0]

10910.1

In [104]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
12-Feb-2019    10831.40
                 ...
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [105]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
                 ...
18-Nov-2019    11884.50
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [106]:
nifty[1:] - nifty[:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
01-Mar-2019    0.0
01-Nov-2019    0.0
01-Oct-2019    0.0
02-Apr-2019    0.0
02-Aug-2019    0.0
02-Dec-2019    0.0
02-Jan-2019    0.0
02-Jul-2019    0.0
02-May-2019    0.0
03-Apr-2019    0.0
03-Dec-2019    0.0
03-Jan-2019    0.0
03-Jul-2019    0.0
03-Jun-2019    0.0
03-May-2019    0.0
03-Oct-2019    0.0
03-Sep-2019    0.0
04-Apr-2019    0.0
04-Dec-2019    0.0
04-Feb-2019    0.0
04-Jan-2019    0.0
04-Jul-2019    0.0
04-Jun-2019    0.0
04-Nov-2019    0.0
04-Oct-2019    0.0
              ...
27-Nov-2019    0.0
27-Oct-2019    0.0
27-Sep-2019    0.0
28-Aug-2019    0.0
28-Feb-2019    0.0
28-Jan-2019    0.0
28-Jun-2019    0.0
28-Mar-2019    0.0
28-May-2019    0.0
28-Nov-2019    0.0
29-Aug-2019    0.0
29-Jan-2019    0.0
29-Jul-2019    0.0
29-Mar-2019    0.0
29-May-2019    0.0
29-Nov-2019    0.0
29-Oct-2019    0.0
30-Apr-2019    0.0
30-Aug-2019    0.0
30-Dec-2019    0.0
30-Jan-2019    0.0
30-Jul-2019    0.0
30-May-2019    0.0
30-Oct-2019    0.0
30-Sep-2019    0.0
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [107]:
nifty.values[1:] - nifty.values[:-1]

array([-1.1760e+02, -1.2025e+02,  5.5100e+01,  4.4450e+01,  3.0350e+01,
        5.3000e+01, -3.3550e+01, -2.6650e+01, -5.7350e+01,  1.4920e+02,
        3.5000e+00,  1.4900e+01,  1.7500e+00,  5.4900e+01, -3.9100e+01,
       -9.1250e+01,  1.8300e+01, -6.9250e+01, -1.1900e+02, -9.3500e+00,
       -4.0000e-01,  1.7915e+02,  6.2700e+01,  1.8600e+01,  2.2100e+01,
        1.2810e+02,  6.9500e+00, -1.2580e+02, -5.4800e+01, -5.7400e+01,
       -3.7750e+01, -4.7600e+01, -2.1650e+01, -8.3450e+01, -3.6600e+01,
        1.3110e+02,  5.4400e+01,  1.8000e+00,  8.8450e+01, -4.4800e+01,
       -2.8650e+01, -1.4150e+01,  7.1000e+01,  1.2395e+02,  6.5550e+01,
        5.2000e+00, -2.2800e+01,  1.3265e+02,  1.3315e+02,  4.0500e+01,
        1.5500e+00,  8.3600e+01,  3.5350e+01,  7.0200e+01, -1.1350e+01,
       -6.4150e+01, -1.0265e+02,  1.2900e+02, -3.8200e+01,  1.2495e+02,
        5.3900e+01,  4.5250e+01,  4.4050e+01, -6.9250e+01, -4.5950e+01,
        6.7950e+01, -6.1450e+01,  6.7450e+01, -8.7650e+01,  1.2400e+01,
        4.6750e+01,  4.6900e+01,  9.6800e+01, -3.4350e+01, -1.5835e+02,
       -1.8500e+01,  1.5020e+02, -8.4350e+01,  1.1285e+02, -6.5000e+00,
       -2.3400e+01, -1.2500e+01, -1.1400e+02, -1.0035e+02, -1.3845e+02,
       -5.7650e+01, -2.2900e+01, -1.3070e+02,  7.3850e+01, -6.5050e+01,
        1.0010e+02,  1.5005e+02,  4.2110e+02, -1.1915e+02,  2.8800e+01,
       -8.0850e+01,  1.8705e+02,  8.0650e+01,  4.0000e+00, -6.7650e+01,
        8.4800e+01, -2.3100e+01,  1.6575e+02, -6.6900e+01, -1.7790e+02,
        2.6900e+01,  5.2050e+01,  4.2900e+01, -5.9400e+01,  7.8500e+00,
       -9.0750e+01, -1.5115e+02,  1.9350e+01, -5.0000e-02,  1.4030e+02,
       -1.0765e+02, -2.4450e+01,  9.6800e+01,  5.1100e+01, -6.0000e+00,
       -5.2700e+01,  7.6750e+01,  4.4700e+01,  6.4500e+00,  3.0000e+01,
       -1.3560e+02, -2.5255e+02, -2.7000e+00, -5.7000e+01,  8.4000e+01,
       -3.0400e+01,  3.5850e+01,  7.4250e+01,  2.4900e+01, -9.0600e+01,
       -1.7765e+02, -7.3050e+01, -1.5150e+01, -5.9750e+01, -1.9150e+01,
        3.2150e+01, -9.5100e+01, -1.0380e+02,  3.2600e+01, -1.3800e+02,
        1.7350e+01, -1.3475e+02,  8.5650e+01, -9.2750e+01,  1.7695e+02,
        7.7200e+01, -1.8380e+02,  1.0355e+02,  1.8400e+01,  6.1000e+00,
       -3.6900e+01, -9.8300e+01, -1.7735e+02,  8.8000e+01,  2.2850e+02,
        4.7500e+01, -5.9250e+01, -9.7800e+01,  7.4950e+01, -2.2535e+02,
        4.6750e+01,  3.2500e+00,  9.8300e+01,  5.6850e+01,  3.2650e+01,
       -5.2900e+01,  9.3100e+01, -7.2400e+01, -1.8590e+02,  2.3050e+01,
       -1.3585e+02,  5.6940e+02,  3.2600e+02, -1.2000e+01, -1.4800e+02,
        1.3100e+02, -5.8800e+01, -3.7950e+01, -1.1455e+02, -4.5900e+01,
       -1.3925e+02, -4.8350e+01,  1.8690e+02, -7.8750e+01,  7.0500e+01,
        3.6100e+01,  8.7150e+01,  3.5700e+01,  1.2235e+02,  7.5500e+01,
       -7.3500e+01,  1.5750e+01, -2.1500e+01,  1.3000e+00,  4.3250e+01,
        1.5970e+02,  5.7250e+01,  3.3350e+01,  1.3150e+01,  5.0700e+01,
       -2.4100e+01,  4.8850e+01,  4.6000e+01, -1.0390e+02,  5.3000e+00,
       -7.3000e+01,  3.1650e+01,  2.3350e+01, -1.0950e+01,  5.5600e+01,
        5.9000e+01, -3.0700e+01, -5.4000e+01,  1.5935e+02, -3.6050e+01,
        6.3000e+01,  5.0450e+01, -9.5100e+01, -7.8500e+00, -5.4000e+01,
        4.9000e+01, -2.4800e+01, -9.6900e+01,  1.6000e+01, -8.0700e+01,
        5.3350e+01,  6.1650e+01,  1.1490e+02, -3.2750e+01,  1.1105e+02,
        5.6650e+01,  3.8050e+01,  1.2100e+01, -9.0500e+00, -4.8200e+01,
       -8.8000e+01,  1.1925e+02,  1.0050e+01, -8.7400e+01])

In [108]:
np.sum(nifty.values[1:] - nifty.values[:-1]  >0)

129

In [109]:
np.sum(nifty.values[1:] - nifty.values[:-1]  >0) / len(nifty)

0.5265306122448979

### Task

1. Compute moving average of the last 5 days
2. Subset the data to include only data for Fridays

In [110]:
nifty.index[0]

'01-Jan-2019'

In [111]:
d = pd.Timestamp(nifty.index[0])

In [112]:
d.dayofweek

1

In [113]:
new_index = map(pd.Timestamp, nifty.index)

In [114]:
new_nifty = pd.Series(nifty, index=new_index)

In [115]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
2019-01-08    10802.15
2019-01-09    10855.15
2019-01-10    10821.60
2019-01-11    10794.95
2019-01-14    10737.60
2019-01-15    10886.80
2019-01-16    10890.30
2019-01-17    10905.20
2019-01-18    10906.95
2019-01-21    10961.85
2019-01-22    10922.75
2019-01-23    10831.50
2019-01-24    10849.80
2019-01-25    10780.55
2019-01-28    10661.55
2019-01-29    10652.20
2019-01-30    10651.80
2019-01-31    10830.95
2019-02-01    10893.65
2019-02-04    10912.25
2019-02-05    10934.35
2019-02-06    11062.45
2019-02-07    11069.40
2019-02-08    10943.60
2019-02-11    10888.80
                ...
2019-11-19    11940.10
2019-11-20    11999.10
2019-11-21    11968.40
2019-11-22    11914.40
2019-11-25    12073.75
2019-11-26    12037.70
2019-11-27    12100.70
2019-11-28    12151.15
2019-11-29    12056.05
2019-12-02    12048.20
2019-12-03    11994.20
2019-12-04    12043.20
2019-12-05    12018.40
2019-12-06    11921.50
2019-12-09    11937.50
2019-12-10    11856.80
2019-12-11    11910.15
2019-12-12    11971.80
2019-12-13    12086.70
2019-12-16    12053.95
2019-12-17    12165.00
2019-12-18    12221.65
2019-12-19    12259.70
2019-12-20    12271.80
2019-12-23    12262.75
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [116]:
new_nifty.index[0]

Timestamp('2019-01-01 00:00:00')

In [117]:
new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
2019-01-08    10767.100000
2019-01-09    10809.700000
2019-01-10    10812.675000
2019-01-11    10809.130000
2019-01-14    10784.716667
2019-01-15    10806.450000
2019-01-16    10838.233333
2019-01-17    10854.975000
2019-01-18    10865.370000
2019-01-21    10924.666667
2019-01-22    10930.516667
2019-01-23    10905.366667
2019-01-24    10891.475000
2019-01-25    10869.290000
2019-01-28    10763.966667
2019-01-29    10698.100000
2019-01-30    10655.183333
2019-01-31    10699.125000
2019-02-01    10738.030000
2019-02-04    10878.950000
2019-02-05    10913.416667
2019-02-06    10969.683333
2019-02-07    10994.612500
2019-02-08    10984.410000
2019-02-11    10967.266667
                  ...
2019-11-19    11906.683333
2019-11-20    11941.233333
2019-11-21    11948.025000
2019-11-22    11941.300000
2019-11-25    11985.516667
2019-11-26    12008.616667
2019-11-27    12070.716667
2019-11-28    12090.825000
2019-11-29    12083.870000
2019-12-02    12085.133333
2019-12-03    12032.816667
2019-12-04    12028.533333
2019-12-05    12026.000000
2019-12-06    12005.100000
2019-12-09    11959.133333
2019-12-10    11905.266667
2019-12-11    11901.483333
2019-12-12    11919.062500
2019-12-13    11952.590000
2019-12-16    12037.483333
2019-12-17    12101.883333
2019-12-18    12146.866667
2019-12-19    12175.075000
2019-12-20    12194.420000
2019-12-23    12264.750000
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [118]:
dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [119]:
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
2019-01-08    1.0
2019-01-09    2.0
2019-01-10    3.0
2019-01-11    4.0
2019-01-14    0.0
2019-01-15    1.0
2019-01-16    2.0
2019-01-17    3.0
2019-01-18    4.0
2019-01-21    0.0
2019-01-22    1.0
2019-01-23    2.0
2019-01-24    3.0
2019-01-25    4.0
2019-01-28    0.0
2019-01-29    1.0
2019-01-30    2.0
2019-01-31    3.0
2019-02-01    4.0
2019-02-04    0.0
2019-02-05    1.0
2019-02-06    2.0
2019-02-07    3.0
2019-02-08    4.0
2019-02-11    0.0
             ...
2019-11-19    1.0
2019-11-20    2.0
2019-11-21    3.0
2019-11-22    4.0
2019-11-25    0.0
2019-11-26    1.0
2019-11-27    2.0
2019-11-28    3.0
2019-11-29    4.0
2019-12-02    0.0
2019-12-03    1.0
2019-12-04    2.0
2019-12-05    3.0
2019-12-06    4.0
2019-12-09    0.0
2019-12-10    1.0
2019-12-11    2.0
2019-12-12    3.0
2019-12-13    4.0
2019-12-16    0.0
2019-12-17    1.0
2019-12-18    2.0
2019-12-19    3.0
2019-12-20    4.0
2019-12-23    0.0
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [120]:
new_nifty[dow == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64

# DataFrame

In [121]:
import numpy as np
import pandas as pd

## Creating DataFrame objects

In [122]:
arr = np.random.randint(0,10,(5, 3))

In [123]:
arr

array([[2, 0, 8],
       [3, 0, 6],
       [3, 6, 7],
       [4, 5, 6],
       [8, 7, 4]])

In [124]:
df = pd.DataFrame(arr)

In [125]:
df

   0  1  2
0  2  0  8
1  3  0  6
2  3  6  7
3  4  5  6
4  8  7  4

In [126]:
df.values

array([[2, 0, 8],
       [3, 0, 6],
       [3, 6, 7],
       [4, 5, 6],
       [8, 7, 4]])

In [127]:
df.index

RangeIndex(start=0, stop=5, step=1)

In [128]:
df.columns

RangeIndex(start=0, stop=3, step=1)

In [129]:
for c in df.columns:
    print(c)

0
1
2

In [130]:
df.values[0]

array([2, 0, 8])

In [131]:
df.index = ['R1','R2','R3','R4','R5']
df.columns = ['C1','C2','C3']

In [132]:
df

    C1  C2  C3
R1   2   0   8
R2   3   0   6
R3   3   6   7
R4   4   5   6
R5   8   7   4

In [133]:
df.loc['R3','C2']

6

In [134]:
df.iloc[2,1]

6

In [135]:
type(df.iloc[2:4,1:3])

pandas.core.frame.DataFrame

In [136]:
df.loc['R3':'R5', 'C2':'C3']

    C2  C3
R3   6   7
R4   5   6
R5   7   4

In [137]:
df.iloc[0]

C1    2
C2    0
C3    8
Name: R1, dtype: int32

In [138]:
type(df.iloc[0])

pandas.core.series.Series

In [139]:
df.iloc[:, 0]

R1    2
R2    3
R3    3
R4    4
R5    8
Name: C1, dtype: int32

In [140]:
df.shape

(5, 3)

In [141]:
df.T

    R1  R2  R3  R4  R5
C1   2   3   3   4   8
C2   0   0   6   5   7
C3   8   6   7   6   4

**Task on Creating Dataframes**

In [142]:
def create_df(nRows, nCols, maxRand=10):
    arr = np.random.randint(0, maxRand, (nRows, nCols))
    df = pd.DataFrame(arr)
    df.index = ['R'  + str(x) for x in np.arange(1, nRows+1)]
    df.columns = ['C' + str(x) for x in np.arange(1, nCols+1)]
    return df

In [143]:
create_df(5, 3)

    C1  C2  C3
R1   3   8   9
R2   7   8   6
R3   5   1   5
R4   1   0   1
R5   5   1   7

In [144]:
create_df(2, 5)

    C1  C2  C3  C4  C5
R1   7   9   5   9   4
R2   4   7   9   3   9

In [145]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
        index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune', 'Pluto'])
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index=['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [146]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [147]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [148]:
df = pd.DataFrame({'Mass':mass ,'Diameter':diameter})

In [149]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupiter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     49528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [150]:
df['Mass']

Earth         5.9700
Jupiter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

In [151]:
# df['Earth']

In [152]:
df['Mass']['Earth']

5.97

In [153]:
df['pop'] = 0

In [154]:
df

              Mass  Diameter  pop
Earth       5.9700     12756    0
Jupiter  1898.0000    142984    0
Mars        0.6420      6792    0
Mercury     0.3300      4879    0
Moon           NaN      3475    0
Neptune   102.0000     49528    0
Pluto       0.0146      2370    0
Saturn    568.0000    120536    0
Uranus     86.8000     51118    0
Venus       4.8700     12104    0

In [155]:
df['pop']['Earth']= 800000

c:\users\admin\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [156]:
df

              Mass  Diameter     pop
Earth       5.9700     12756  800000
Jupiter  1898.0000    142984       0
Mars        0.6420      6792       0
Mercury     0.3300      4879       0
Moon           NaN      3475       0
Neptune   102.0000     49528       0
Pluto       0.0146      2370       0
Saturn    568.0000    120536       0
Uranus     86.8000     51118       0
Venus       4.8700     12104       0

In [157]:
df['Mass'] is df.Mass

True

In [158]:
df['pop'] is df.pop

False

In [159]:
df.loc['Earth']

Mass             5.97
Diameter     12756.00
pop         800000.00
Name: Earth, dtype: float64

In [160]:
df.loc[:, 'Mass']

Earth         5.9700
Jupiter    1898.0000
Mars          0.6420
Mercury       0.3300
Moon             NaN
Neptune     102.0000
Pluto         0.0146
Saturn      568.0000
Uranus       86.8000
Venus         4.8700
Name: Mass, dtype: float64

 How to create new Row Function

In [161]:
def create_mean_row(df):
    df.loc['Col_Mean'] = [np.mean(df[col]) for col in df.columns]
    return df

In [162]:
df

              Mass  Diameter     pop
Earth       5.9700     12756  800000
Jupiter  1898.0000    142984       0
Mars        0.6420      6792       0
Mercury     0.3300      4879       0
Moon           NaN      3475       0
Neptune   102.0000     49528       0
Pluto       0.0146      2370       0
Saturn    568.0000    120536       0
Uranus     86.8000     51118       0
Venus       4.8700     12104       0

In [163]:
df.loc['Col_Mean']=0

In [164]:
df

               Mass  Diameter     pop
Earth        5.9700     12756  800000
Jupiter   1898.0000    142984       0
Mars         0.6420      6792       0
Mercury      0.3300      4879       0
Moon            NaN      3475       0
Neptune    102.0000     49528       0
Pluto        0.0146      2370       0
Saturn     568.0000    120536       0
Uranus      86.8000     51118       0
Venus        4.8700     12104       0
Col_Mean     0.0000         0       0

In [165]:
np.mean(df['Mass'])

266.66266

In [166]:
df.drop('Col_Mean', inplace=True)

In [167]:
np.mean(df['Mass'])

296.29184444444445

In [168]:
df.drop('pop', axis=1, inplace=True)

In [169]:
df

              Mass  Diameter
Earth       5.9700     12756
Jupiter  1898.0000    142984
Mars        0.6420      6792
Mercury     0.3300      4879
Moon           NaN      3475
Neptune   102.0000     49528
Pluto       0.0146      2370
Saturn    568.0000    120536
Uranus     86.8000     51118
Venus       4.8700     12104

In [170]:
np.mean(df['Mass'])

296.29184444444445

In [171]:
df.loc['Col_Mean'] = [np.mean(df['Mass']), np.mean(df['Diameter'])]

In [172]:
df

                 Mass  Diameter
Earth        5.970000   12756.0
Jupiter   1898.000000  142984.0
Mars         0.642000    6792.0
Mercury      0.330000    4879.0
Moon              NaN    3475.0
Neptune    102.000000   49528.0
Pluto        0.014600    2370.0
Saturn     568.000000  120536.0
Uranus      86.800000   51118.0
Venus        4.870000   12104.0
Col_Mean   296.291844   40654.2

In [173]:
 df.drop('Col_Mean')

              Mass  Diameter
Earth       5.9700   12756.0
Jupiter  1898.0000  142984.0
Mars        0.6420    6792.0
Mercury     0.3300    4879.0
Moon           NaN    3475.0
Neptune   102.0000   49528.0
Pluto       0.0146    2370.0
Saturn    568.0000  120536.0
Uranus     86.8000   51118.0
Venus       4.8700   12104.0

In [174]:
create_mean_row(df)

                 Mass  Diameter
Earth        5.970000   12756.0
Jupiter   1898.000000  142984.0
Mars         0.642000    6792.0
Mercury      0.330000    4879.0
Moon              NaN    3475.0
Neptune    102.000000   49528.0
Pluto        0.014600    2370.0
Saturn     568.000000  120536.0
Uranus      86.800000   51118.0
Venus        4.870000   12104.0
Col_Mean   296.291844   40654.2

In [175]:
df = create_df(5, 3)

In [176]:
df

    C1  C2  C3
R1   6   3   2
R2   8   5   9
R3   2   0   2
R4   9   3   1
R5   1   5   7

In [177]:
df.mean()

C1    5.2
C2    3.2
C3    4.2
dtype: float64

In [178]:
df.mean(axis=1)

R1    3.666667
R2    7.333333
R3    1.333333
R4    4.333333
R5    4.333333
dtype: float64

In [179]:
df['Row_Mean'] = df.mean(axis=1)

In [180]:
df.loc['Col_Mean'] = df.mean()

In [181]:
df

           C1   C2   C3  Row_Mean
R1        6.0  3.0  2.0  3.666667
R2        8.0  5.0  9.0  7.333333
R3        2.0  0.0  2.0  1.333333
R4        9.0  3.0  1.0  4.333333
R5        1.0  5.0  7.0  4.333333
Col_Mean  5.2  3.2  4.2  4.200000

In [182]:
df.median()

C1          5.600000
C2          3.100000
C3          3.100000
Row_Mean    4.266667
dtype: float64

In [183]:
df.min()

C1          1.000000
C2          0.000000
C3          1.000000
Row_Mean    1.333333
dtype: float64

In [184]:
df.max()

C1          9.000000
C2          5.000000
C3          9.000000
Row_Mean    7.333333
dtype: float64

In [185]:
df.quantile(0.25)

C1          2.8
C2          3.0
C3          2.0
Row_Mean    3.8
Name: 0.25, dtype: float64

In [186]:
df.drop('Row_Mean', axis=1)

           C1   C2   C3
R1        6.0  3.0  2.0
R2        8.0  5.0  9.0
R3        2.0  0.0  2.0
R4        9.0  3.0  1.0
R5        1.0  5.0  7.0
Col_Mean  5.2  3.2  4.2

In [187]:
df.describe()

             C1       C2        C3  Row_Mean
count  6.000000  6.00000  6.000000  6.000000
mean   5.200000  3.20000  4.200000  4.200000
std    3.187475  1.83303  3.187475  1.916014
min    1.000000  0.00000  1.000000  1.333333
25%    2.800000  3.00000  2.000000  3.800000
50%    5.600000  3.10000  3.100000  4.266667
75%    7.500000  4.55000  6.300000  4.333333
max    9.000000  5.00000  9.000000  7.333333

In [188]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
        index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune', 'Pluto'])
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index=['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [189]:
planets = pd.DataFrame({'Mass': mass, 'Diameter':diameter})

In [190]:
planets.describe()

              Mass      Diameter
count     9.000000      10.00000
mean    296.291844   40654.20000
std     627.786429   51541.39142
min       0.014600    2370.00000
25%       0.642000    5357.25000
50%       5.970000   12430.00000
75%     102.000000   50720.50000
max    1898.000000  142984.00000

**Planets Dataset**

In [191]:
import seaborn as sns

In [192]:
df = sns.load_dataset('planets')

In [193]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 6 columns):
method            1035 non-null object
number            1035 non-null int64
orbital_period    992 non-null float64
mass              513 non-null float64
distance          808 non-null float64
year              1035 non-null int64
dtypes: float64(3), int64(2), object(1)
memory usage: 48.6+ KB

In [194]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [195]:
df.tail()

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

In [196]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

Go through each row of the dataframe and delete it(drop) if any of the columns is null

In [197]:
for r in df.index:
    for c in df.columns:
        if pd.isnull(df.loc[r, c]):
            df.drop(r, inplace=True)
            break

In [198]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [199]:
for i, r in df.iterrows():
    print(i)
    print(r)
    break

0
method            Radial Velocity
number                          1
orbital_period              269.3
mass                          7.1
distance                     77.4
year                         2006
Name: 0, dtype: object

In [200]:
for i, r in df.iterrows():
    if pd.isnull(r).any():
        df.drop(i, inplace=True)
        break

In [201]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

In [202]:
df.dropna(inplace=True)

In [203]:
df.describe()

          number  orbital_period        mass    distance         year
count  498.00000      498.000000  498.000000  498.000000   498.000000
mean     1.73494      835.778671    2.509320   52.068213  2007.377510
std      1.17572     1469.128259    3.636274   46.596041     4.167284
min      1.00000        1.328300    0.003600    1.350000  1989.000000
25%      1.00000       38.272250    0.212500   24.497500  2005.000000
50%      1.00000      357.000000    1.245000   39.940000  2009.000000
75%      2.00000      999.600000    2.867500   59.332500  2011.000000
max      6.00000    17337.500000   25.000000  354.000000  2014.000000

Filter and show only those rows which have planets that are found in the 2010s and method is 'Radial Velocity' and 'Transit' and distance is large(> 75 percentile)

In [204]:
df_ = df.copy()
per_75 = df.distance.quantile(0.75)
for i,r in df.iterrows():
    if r['year']< 2010:
        df_.drop(i, inplace=True)
        continue
    if r['method']!='Radial Velocity' and r['method']!='Transit':
        df_.drop(i, inplace=True)
        continue
    if r['distance']< per_75:
        df_.drop(i, inplace=True)
        continue

In [205]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

In [206]:
df_.head()

             method  number  orbital_period   mass  distance  year
9   Radial Velocity       2          452.80   1.99     74.79  2010
10  Radial Velocity       2          883.00   0.86     74.79  2010
58  Radial Velocity       1          277.02   1.70     80.64  2013
63  Radial Velocity       1          305.50  20.60     92.51  2013
84  Radial Velocity       1          137.48   1.11    175.44  2013

In [207]:
df_ = df.copy()
df_ = df_[
    (df_['year']>=2010)&
    ((df_['method']=='Radial Velocity') | (df_['method']=='Transit'))&
    (df_['distance'] > per_75)
]

In [208]:
df_.describe()

          number  orbital_period       mass    distance         year
count  50.000000       50.000000  50.000000   50.000000    50.000000
mean    1.300000      763.904808   3.322740  133.142600  2011.360000
std     0.505076      966.789870   3.648002   70.378699     1.120496
min     1.000000        2.703390   0.770000   65.620000  2010.000000
25%     1.000000      255.555000   1.325000   80.205000  2011.000000
50%     1.000000      550.500000   1.875000  121.070000  2011.000000
75%     2.000000      873.625000   3.400000  150.097500  2012.000000
max     3.000000     5584.000000  20.600000  354.000000  2014.000000

Modify the method column to have only the abbreviation of each method

In [209]:
df.method.unique()

array(['Radial Velocity', 'Transit'], dtype=object)

In [210]:
s = 'Radial Velocity'

In [211]:
''.join([x[0] for x in s.split(' ')])

'RV'

In [212]:
short_names={}
for s in df.method.unique():
    short_names[s] = ''.join([x[0] for x in s.split(' ')])

In [213]:
print(short_names)

{'Radial Velocity': 'RV', 'Transit': 'T'}

In [214]:
for i, r in df.iterrows():
    df.loc[i, 'short_method'] = short_names.get(r['method'], r['method'])

In [215]:
df.head()

            method  number  orbital_period   mass  distance  year short_method
0  Radial Velocity       1         269.300   7.10     77.40  2006           RV
1  Radial Velocity       1         874.774   2.21     56.95  2008           RV
2  Radial Velocity       1         763.000   2.60     19.84  2011           RV
3  Radial Velocity       1         326.030  19.40    110.62  2007           RV
4  Radial Velocity       1         516.220  10.50    119.47  2009           RV

In [216]:
df = sns.load_dataset('planets')

In [217]:
def shorten_method(s):
    return short_names.get(s, s)

In [218]:
df['short_names'] = df['method'].apply(shorten_method)

In [219]:
df.head()

            method  number  orbital_period   mass  distance  year short_names
0  Radial Velocity       1         269.300   7.10     77.40  2006          RV
1  Radial Velocity       1         874.774   2.21     56.95  2008          RV
2  Radial Velocity       1         763.000   2.60     19.84  2011          RV
3  Radial Velocity       1         326.030  19.40    110.62  2007          RV
4  Radial Velocity       1         516.220  10.50    119.47  2009          RV

Count the number of planets discovered for each method type

1. **Split** the dataframe into smaller chunks(in this case they shouldhave the same method name)
2. **Apply** some function in each smaller chunk(in this case it is the count function)
3. **Aggregate** the result from each chunk together

In [220]:
d = {}
for m in df.method.unique():
    d[m] = df[df.method==m]['method'].count()
print(d)

{'Radial Velocity': 553, 'Imaging': 38, 'Eclipse Timing Variations': 9, 'Transit': 397, 'Astrometry': 2, 'Transit Timing Variations': 4, 'Orbital Brightness Modulation': 3, 'Microlensing': 23, 'Pulsar Timing': 5, 'Pulsation Timing Variations': 1}

In [221]:
df.groupby('method')['method'].count()

method
Astrometry                         2
Eclipse Timing Variations          9
Imaging                           38
Microlensing                      23
Orbital Brightness Modulation      3
Pulsar Timing                      5
Pulsation Timing Variations        1
Radial Velocity                  553
Transit                          397
Transit Timing Variations          4
Name: method, dtype: int64

In [222]:
df.groupby('method')['distance'].mean()

method
Astrometry                         17.875000
Eclipse Timing Variations         315.360000
Imaging                            67.715937
Microlensing                     4144.000000
Orbital Brightness Modulation    1180.000000
Pulsar Timing                    1200.000000
Pulsation Timing Variations              NaN
Radial Velocity                    51.600208
Transit                           599.298080
Transit Timing Variations        1104.333333
Name: distance, dtype: float64

Find out what fraction of planets have been found in the last decade(i.e.,in 2010s) across each method type

1. **Filter** the data for given condition (in this case planet found in last decade)
2. **Split**(in this case across method)
3. **Apply** (in this case  just count)
4. **Aggregate**(to represent the final result)

In [223]:
s_2010s = df[df.year >= 2010].groupby('method')['method'].count()

In [224]:
s_allTime = df.groupby('method')['method'].count()

In [225]:
s_2010s/s_allTime

method
Astrometry                       1.000000
Eclipse Timing Variations        0.666667
Imaging                          0.473684
Microlensing                     0.565217
Orbital Brightness Modulation    1.000000
Pulsar Timing                    0.200000
Pulsation Timing Variations           NaN
Radial Velocity                  0.388788
Transit                          0.843829
Transit Timing Variations        1.000000
Name: method, dtype: float64

Find the datset of Nifty numbers for 2018 and 2019-daily numbers open,close, high, low

In [228]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv')

In [229]:
nifty50_2018.head()

          Date      Open      High       Low     Close
0  31 Dec 2018  10913.20  10923.55  10853.20  10862.55
1  28 Dec 2018  10820.95  10893.60  10817.15  10859.90
2  27 Dec 2018  10817.90  10834.20  10764.45  10779.80
3  26 Dec 2018  10635.45  10747.50  10534.55  10729.85
4  24 Dec 2018  10780.90  10782.30  10649.25  10663.50

In [230]:
nifty50_2018 = pd.read_csv('NIFTY50_2018.csv',index_col=0)

In [231]:
nifty50_2018.head()

                 Open      High       Low     Close
Date
31 Dec 2018  10913.20  10923.55  10853.20  10862.55
28 Dec 2018  10820.95  10893.60  10817.15  10859.90
27 Dec 2018  10817.90  10834.20  10764.45  10779.80
26 Dec 2018  10635.45  10747.50  10534.55  10729.85
24 Dec 2018  10780.90  10782.30  10649.25  10663.50

In [232]:
nifty50_2018.loc['31 Dec 2018']

Open     10913.20
High     10923.55
Low      10853.20
Close    10862.55
Name: 31 Dec 2018, dtype: float64

In [233]:
nifty50_2018['Open']

Date
31 Dec 2018    10913.20
28 Dec 2018    10820.95
27 Dec 2018    10817.90
26 Dec 2018    10635.45
24 Dec 2018    10780.90
21 Dec 2018    10944.25
20 Dec 2018    10885.20
19 Dec 2018    10930.55
18 Dec 2018    10850.90
17 Dec 2018    10853.20
14 Dec 2018    10784.50
13 Dec 2018    10810.75
12 Dec 2018    10591.00
11 Dec 2018    10350.05
10 Dec 2018    10508.70
07 Dec 2018    10644.80
06 Dec 2018    10718.15
05 Dec 2018    10820.45
04 Dec 2018    10877.10
03 Dec 2018    10930.70
30 Nov 2018    10892.10
29 Nov 2018    10808.70
28 Nov 2018    10708.75
27 Nov 2018    10621.45
26 Nov 2018    10568.30
22 Nov 2018    10612.65
21 Nov 2018    10670.95
20 Nov 2018    10740.10
19 Nov 2018    10731.25
16 Nov 2018    10644.00
                 ...
12 Feb 2018    10518.20
09 Feb 2018    10416.50
08 Feb 2018    10518.50
07 Feb 2018    10607.20
06 Feb 2018    10295.15
05 Feb 2018    10604.30
02 Feb 2018    10938.20
01 Feb 2018    11044.55
31 Jan 2018    11018.80
30 Jan 2018    11120.85
29 Jan 2018    11079.35
25 Jan 2018    11095.60
24 Jan 2018    11069.35
23 Jan 2018    10997.40
22 Jan 2018    10883.20
19 Jan 2018    10829.20
18 Jan 2018    10873.40
17 Jan 2018    10702.45
16 Jan 2018    10761.50
15 Jan 2018    10718.50
12 Jan 2018    10682.55
11 Jan 2018    10637.05
10 Jan 2018    10652.05
09 Jan 2018    10645.10
08 Jan 2018    10591.70
05 Jan 2018    10534.25
04 Jan 2018    10469.40
03 Jan 2018    10482.65
02 Jan 2018    10477.55
01 Jan 2018    10531.70
Name: Open, Length: 246, dtype: float64

In [234]:
nifty50_2019 = pd.read_csv('NIFTY50_2019.csv',index_col=0)

In [235]:
nifty50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [236]:
print(nifty50_2018.shape, nifty50_2019.shape)

(246, 4) (245, 4)

In [237]:
nifty50 = pd.concat([nifty50_2018, nifty50_2019])

In [238]:
nifty50.shape

(491, 4)

In [239]:
niftynext50_2019 = pd.read_csv('NIFTYNext50_2019.csv', index_col=0)

In [240]:
niftynext50_2019.head()

                 Open      High       Low     Close
Date
31 Dec 2019  28495.00  28549.50  28270.25  28307.55
30 Dec 2019  28528.95  28612.95  28406.70  28484.85
27 Dec 2019  28354.50  28500.25  28319.90  28476.80
26 Dec 2019  28409.10  28435.25  28259.75  28280.25
24 Dec 2019  28423.70  28430.40  28318.75  28382.85

In [241]:
nifty_2019 = pd.concat([nifty50_2019, niftynext50_2019], axis=1)

In [242]:
nifty_2019.shape

(245, 8)

In [243]:
nifty_2019.head()

,Open,High,Low,Close,Open,High,Low,Close
Date,,,,,,,,
31 Dec 2019,12247.10,12247.10,12151.80,12168.45,28495.00,28549.50,28270.25,28307.55
30 Dec 2019,12274.90,12286.45,12213.80,12255.85,28528.95,28612.95,28406.70,28484.85
27 Dec 2019,12172.90,12258.45,12157.90,12245.80,28354.50,28500.25,28319.90,28476.80
26 Dec 2019,12211.85,12221.55,12118.85,12126.55,28409.10,28435.25,28259.75,28280.25
24 Dec 2019,12269.25,12283.70,12202.10,12214.55,28423.70,28430.40,28318.75,28382.85

In [244]:
nifty_2019 = pd.concat([nifty50_2019, niftynext50_2019], axis=1,
                       keys=['nifty50','niftynext50'])

In [245]:
nifty_2019.shape

(245, 8)

In [246]:
nifty_2019.head()

              nifty50                               niftynext50            \
                 Open      High       Low     Close        Open      High
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45    28495.00  28549.50
30 Dec 2019  12274.90  12286.45  12213.80  12255.85    28528.95  28612.95
27 Dec 2019  12172.90  12258.45  12157.90  12245.80    28354.50  28500.25
26 Dec 2019  12211.85  12221.55  12118.85  12126.55    28409.10  28435.25
24 Dec 2019  12269.25  12283.70  12202.10  12214.55    28423.70  28430.40


                  Low     Close
Date
31 Dec 2019  28270.25  28307.55
30 Dec 2019  28406.70  28484.85
27 Dec 2019  28319.90  28476.80
26 Dec 2019  28259.75  28280.25
24 Dec 2019  28318.75  28382.85

In [247]:
nifty_2019['nifty50'].head()

                 Open      High       Low     Close
Date
31 Dec 2019  12247.10  12247.10  12151.80  12168.45
30 Dec 2019  12274.90  12286.45  12213.80  12255.85
27 Dec 2019  12172.90  12258.45  12157.90  12245.80
26 Dec 2019  12211.85  12221.55  12118.85  12126.55
24 Dec 2019  12269.25  12283.70  12202.10  12214.55

In [248]:
nifty_2019['nifty50']['Open'].head()

Date
31 Dec 2019    12247.10
30 Dec 2019    12274.90
27 Dec 2019    12172.90
26 Dec 2019    12211.85
24 Dec 2019    12269.25
Name: Open, dtype: float64

In [249]:
nifty_2019['nifty50'].loc['31 Dec 2019']

Open     12247.10
High     12247.10
Low      12151.80
Close    12168.45
Name: 31 Dec 2019, dtype: float64

Task on the NIFTY datsets:
1. in 2019, how amny days was the NIFTY50 volatile(high> 105% of low)
2. in 2019, in how many days was the NIFTYNEXT50 volatile(high> 105% of low)
3. in 2019, how many days belonged to the four classes NIFTY50 volatile/ non-volatile and NIFTYNext50 volatile / non-volatile
4. Compute the mean, median, std, var of closing values for each weekday in NIFTY50 for 2019
5.  Compute the mean, median, std, var of closing values for each month in NIFTY50 for 2019
6. On the days in which NIFTY50 closed higher than the open, what was the mean of(close-open) for NIFTYNext50
7. in 2019, how many days had the day's high lower than the previous day's low in NIFTY50
8. in 2019, on how many days did the day's close exceed the 30 day moving average in NIFTY50(exclude first month)