In [1]:
import numpy as np
import pandas as pd

## Creating Series Object

In [2]:
s = pd.Series([0,1,1,2,3,5,8])

In [3]:
print(s)

0    0
1    1
2    1
3    2
4    3
5    5
6    8
dtype: int64

In [4]:
s = pd.Series([0.0, 1, 1, 2, 3, 5, 8])

In [5]:
print(s)

0    0.0
1    1.0
2    1.0
3    2.0
4    3.0
5    5.0
6    8.0
dtype: float64

In [6]:
s.values

array([0., 1., 1., 2., 3., 5., 8.])

In [7]:
s.index

RangeIndex(start=0, stop=7, step=1)

In [8]:
for v in s.values:
    print(v)

0.0
1.0
1.0
2.0
3.0
5.0
8.0

In [9]:
for i in s.index:
    print(i)

0
1
2
3
4
5
6

In [10]:
for item in zip(s.index, s.values):
    print(item)

(0, 0.0)
(1, 1.0)
(2, 1.0)
(3, 2.0)
(4, 3.0)
(5, 5.0)
(6, 8.0)

In [11]:
s[0]

0.0

In [12]:
s[5]

5.0

In [13]:
mercury = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

In [14]:
print(mercury )

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [15]:
mercury['mass']

0.33

In [16]:
mercury ['dayLength']

4222.6

In [17]:
arr = np.random.randint(0,10,10)

In [18]:
arr

array([4, 3, 6, 1, 6, 3, 5, 1, 1, 7])

In [19]:
ind = np.arange(10,20)

In [20]:
rand_series = pd.Series(arr, index=ind)

In [21]:
print(rand_series)

10    4
11    3
12    6
13    1
14    6
15    3
16    5
17    1
18    1
19    7
dtype: int32

In [22]:
# mercury  = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

d={}
d['mass'] = 0.33
d['diameter'] = 57.9
d['dayLength'] = 4222.6

In [23]:
print(d)

{'mass': 0.33, 'diameter': 57.9, 'dayLength': 4222.6}

In [24]:
mercury  = pd.Series(d)

In [25]:
print(mercury )

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

In [26]:
mercury = pd.Series(d, index=['mass','diameter',])

In [27]:
print(mercury)

mass         0.33
diameter    57.90
dtype: float64

## loc and iloc

In [28]:
s = pd.Series([0.0, 1, 2, 3 ,4 ,5, 8], index=[1, 2, 3, 4, 5, 6, 7])

In [29]:
print(s)

1    0.0
2    1.0
3    2.0
4    3.0
5    4.0
6    5.0
7    8.0
dtype: float64

In [30]:
s.loc[4]      # loc = location

3.0

In [31]:
s.iloc[4]     # iloc = implicut location

4.0

In [32]:
# s.loc[0]

In [33]:
mercury  = pd.Series([0.33, 57.9, 4222.6], index=['mass','diameter','dayLength'])

In [34]:
mercury.loc['mass']

0.33

In [35]:
mercury.iloc[0]

0.33

In [36]:
mercury.iloc[-1]

4222.6

In [37]:
mercury.iloc[:2]

mass         0.33
diameter    57.90
dtype: float64

In [38]:
mercury.loc['mass':'dayLength']

mass            0.33
diameter       57.90
dayLength    4222.60
dtype: float64

## Simple Operations

In [39]:
mass = pd.Series([0.33, 4.87, 5.97, 0.642, 1898, 568, 86.8, 102, 0.0146],
        index=['Mercury','Venus','Earth','Mars','Jupiter','Saturn','Uranus','Neptune', 'Pluto'])

In [40]:
print(mass)

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [41]:
mass.iloc[1]

4.87

In [42]:
mass.loc['Earth']

5.97

In [43]:
mass['Earth']

5.97

In [44]:
mass['Earth':'Jupiter']

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [45]:
mass[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [46]:
mass.iloc[2:5]

Earth         5.970
Mars          0.642
Jupiter    1898.000
dtype: float64

In [47]:
mass > 100

Mercury    False
Venus      False
Earth      False
Mars       False
Jupiter     True
Saturn      True
Uranus     False
Neptune     True
Pluto      False
dtype: bool

In [48]:
mass[mass > 100]

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [49]:
mass[(mass > 100) & (mass < 600)]

Saturn     568.0
Neptune    102.0
dtype: float64

In [50]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [51]:
mass * 2

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [52]:
mass / 10

Mercury      0.03300
Venus        0.48700
Earth        0.59700
Mars         0.06420
Jupiter    189.80000
Saturn      56.80000
Uranus       8.68000
Neptune     10.20000
Pluto        0.00146
dtype: float64

In [53]:
np.mean(mass)

296.29184444444445

In [54]:
np.amin(mass)

0.0146

In [55]:
np.amax(mass)

1898.0

In [56]:
np.median(mass)

5.97

In [57]:
mass + mass

Mercury       0.6600
Venus         9.7400
Earth        11.9400
Mars          1.2840
Jupiter    3796.0000
Saturn     1136.0000
Uranus      173.6000
Neptune     204.0000
Pluto         0.0292
dtype: float64

In [58]:
mass - mass

Mercury    0.0
Venus      0.0
Earth      0.0
Mars       0.0
Jupiter    0.0
Saturn     0.0
Uranus     0.0
Neptune    0.0
Pluto      0.0
dtype: float64

In [59]:
big_mass = mass[mass> 100]

In [60]:
big_mass

Jupiter    1898.0
Saturn      568.0
Neptune     102.0
dtype: float64

In [61]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [62]:
new_mass = mass + big_mass

In [63]:
new_mass

Earth         NaN
Jupiter    3796.0
Mars          NaN
Mercury       NaN
Neptune     204.0
Pluto         NaN
Saturn     1136.0
Uranus        NaN
Venus         NaN
dtype: float64

In [64]:
pd.isnull(new_mass)

Earth       True
Jupiter    False
Mars        True
Mercury     True
Neptune    False
Pluto       True
Saturn     False
Uranus      True
Venus       True
dtype: bool

In [65]:
new_mass[-pd.isnull(new_mass)]

Jupiter    3796.0
Neptune     204.0
Saturn     1136.0
dtype: float64

In [66]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
dtype: float64

In [67]:
mass['Moon'] = 0.7346

In [68]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [69]:
mass.drop(['Pluto'])

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Moon          0.7346
dtype: float64

## Task

### Task-1
Collect number for the diameters of these planets(heavenly bodies) and store it as a series object. Then given these two Series objects mass and diameter, compute the density of each planet.

In [70]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index=['Mercury','Venus','Earth','Moon','Mars','Jupiter','Saturn','Uranus','Neptune','Pluto'])

In [71]:
density = pd.Series([])

In [72]:
print(density)

Series([], dtype: float64)

In [73]:
mass

Mercury       0.3300
Venus         4.8700
Earth         5.9700
Mars          0.6420
Jupiter    1898.0000
Saturn      568.0000
Uranus       86.8000
Neptune     102.0000
Pluto         0.0146
Moon          0.7346
dtype: float64

In [74]:
diameter

Mercury      4879
Venus       12104
Earth       12756
Moon         3475
Mars         6792
Jupiter    142984
Saturn     120536
Uranus      51118
Neptune     49528
Pluto        2370
dtype: int64

In [75]:
for planet in mass.index:
    density[planet]=mass[planet]/(np.pi * diameter[planet]*  diameter[planet]* diameter[planet]/6)

In [76]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [77]:
density = mass/(np.pi * np.power(diameter, 3)/6)

In [78]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [79]:
mass['planetX']=6

In [80]:
density = mass/(np.pi * np.power(diameter, 3)/6)

In [81]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

### Task-2
Given this density Series , replace all values which NaNs with the mean density of all planets.

In [82]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX             NaN
dtype: float64

In [83]:
density_mean = np.mean(density)
for key in density.index:
    if pd.isnull(density[key]):
        density[key] = density_mean

In [84]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX    6.031069e-12
dtype: float64

In [85]:
density[pd.isnull(density)] = np.mean(density)

In [86]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
planetX    6.031069e-12
dtype: float64

### Task-3¶
Compare Dictonary with Series:

* check if some key is present
* summing values
* computing std

In [87]:
my_dict = {}
N=100000
for i in range(N):
    my_dict[i] = i*10

In [88]:
my_series = pd.Series(my_dict)

In [89]:
M = 10000

In [90]:
arr = np.random.randint(0, N, M)

In [91]:
%%time
for i in arr:
    i in my_dict

Wall time: 39.9 ms

In [92]:
%%time
for i in arr:
    i in my_series

Wall time: 62.3 ms

In [93]:
%%timeit
sum(my_dict.values())

3.28 ms ± 139 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [94]:
%%timeit
np.sum(my_series)

533 µs ± 101 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [95]:
%%timeit
mean = sum(my_dict.values())/N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance ** 0.5

32.2 ms ± 480 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [96]:
%%timeit
np.std(my_series)

2.35 ms ± 125 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

### Nifty Case-Study

In [97]:
nifty = pd.read_csv('nifty.csv', index_col=0).iloc[:,0]

In [98]:
nifty

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
                 ...
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 245, dtype: float64

In [99]:
nifty.head(25)

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
Name: Close, dtype: float64

In [100]:
np.mean(nifty)

11432.632244897959

In [101]:
np.median(nifty)

11512.4

In [102]:
np.std(nifty)

453.28669474598075

Q. What fraction of days did the markets close higher than the previous day's close

In [103]:
nifty[0]

10910.1

In [104]:
nifty[1:]

Date
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
12-Feb-2019    10831.40
                 ...
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
31-Dec-2019    12168.45
Name: Close, Length: 244, dtype: float64

In [105]:
nifty[:-1]

Date
01-Jan-2019    10910.10
02-Jan-2019    10792.50
03-Jan-2019    10672.25
04-Jan-2019    10727.35
07-Jan-2019    10771.80
08-Jan-2019    10802.15
09-Jan-2019    10855.15
10-Jan-2019    10821.60
11-Jan-2019    10794.95
14-Jan-2019    10737.60
15-Jan-2019    10886.80
16-Jan-2019    10890.30
17-Jan-2019    10905.20
18-Jan-2019    10906.95
21-Jan-2019    10961.85
22-Jan-2019    10922.75
23-Jan-2019    10831.50
24-Jan-2019    10849.80
25-Jan-2019    10780.55
28-Jan-2019    10661.55
29-Jan-2019    10652.20
30-Jan-2019    10651.80
31-Jan-2019    10830.95
01-Feb-2019    10893.65
04-Feb-2019    10912.25
05-Feb-2019    10934.35
06-Feb-2019    11062.45
07-Feb-2019    11069.40
08-Feb-2019    10943.60
11-Feb-2019    10888.80
                 ...
18-Nov-2019    11884.50
19-Nov-2019    11940.10
20-Nov-2019    11999.10
21-Nov-2019    11968.40
22-Nov-2019    11914.40
25-Nov-2019    12073.75
26-Nov-2019    12037.70
27-Nov-2019    12100.70
28-Nov-2019    12151.15
29-Nov-2019    12056.05
02-Dec-2019    12048.20
03-Dec-2019    11994.20
04-Dec-2019    12043.20
05-Dec-2019    12018.40
06-Dec-2019    11921.50
09-Dec-2019    11937.50
10-Dec-2019    11856.80
11-Dec-2019    11910.15
12-Dec-2019    11971.80
13-Dec-2019    12086.70
16-Dec-2019    12053.95
17-Dec-2019    12165.00
18-Dec-2019    12221.65
19-Dec-2019    12259.70
20-Dec-2019    12271.80
23-Dec-2019    12262.75
24-Dec-2019    12214.55
26-Dec-2019    12126.55
27-Dec-2019    12245.80
30-Dec-2019    12255.85
Name: Close, Length: 244, dtype: float64

In [106]:
nifty[1:] - nifty[:-1]

Date
01-Apr-2019    0.0
01-Aug-2019    0.0
01-Feb-2019    0.0
01-Jan-2019    NaN
01-Jul-2019    0.0
01-Mar-2019    0.0
01-Nov-2019    0.0
01-Oct-2019    0.0
02-Apr-2019    0.0
02-Aug-2019    0.0
02-Dec-2019    0.0
02-Jan-2019    0.0
02-Jul-2019    0.0
02-May-2019    0.0
03-Apr-2019    0.0
03-Dec-2019    0.0
03-Jan-2019    0.0
03-Jul-2019    0.0
03-Jun-2019    0.0
03-May-2019    0.0
03-Oct-2019    0.0
03-Sep-2019    0.0
04-Apr-2019    0.0
04-Dec-2019    0.0
04-Feb-2019    0.0
04-Jan-2019    0.0
04-Jul-2019    0.0
04-Jun-2019    0.0
04-Nov-2019    0.0
04-Oct-2019    0.0
              ...
27-Nov-2019    0.0
27-Oct-2019    0.0
27-Sep-2019    0.0
28-Aug-2019    0.0
28-Feb-2019    0.0
28-Jan-2019    0.0
28-Jun-2019    0.0
28-Mar-2019    0.0
28-May-2019    0.0
28-Nov-2019    0.0
29-Aug-2019    0.0
29-Jan-2019    0.0
29-Jul-2019    0.0
29-Mar-2019    0.0
29-May-2019    0.0
29-Nov-2019    0.0
29-Oct-2019    0.0
30-Apr-2019    0.0
30-Aug-2019    0.0
30-Dec-2019    0.0
30-Jan-2019    0.0
30-Jul-2019    0.0
30-May-2019    0.0
30-Oct-2019    0.0
30-Sep-2019    0.0
31-Dec-2019    NaN
31-Jan-2019    0.0
31-Jul-2019    0.0
31-May-2019    0.0
31-Oct-2019    0.0
Name: Close, Length: 245, dtype: float64

In [107]:
nifty.values[1:] - nifty.values[:-1]

array([-1.1760e+02, -1.2025e+02,  5.5100e+01,  4.4450e+01,  3.0350e+01,
        5.3000e+01, -3.3550e+01, -2.6650e+01, -5.7350e+01,  1.4920e+02,
        3.5000e+00,  1.4900e+01,  1.7500e+00,  5.4900e+01, -3.9100e+01,
       -9.1250e+01,  1.8300e+01, -6.9250e+01, -1.1900e+02, -9.3500e+00,
       -4.0000e-01,  1.7915e+02,  6.2700e+01,  1.8600e+01,  2.2100e+01,
        1.2810e+02,  6.9500e+00, -1.2580e+02, -5.4800e+01, -5.7400e+01,
       -3.7750e+01, -4.7600e+01, -2.1650e+01, -8.3450e+01, -3.6600e+01,
        1.3110e+02,  5.4400e+01,  1.8000e+00,  8.8450e+01, -4.4800e+01,
       -2.8650e+01, -1.4150e+01,  7.1000e+01,  1.2395e+02,  6.5550e+01,
        5.2000e+00, -2.2800e+01,  1.3265e+02,  1.3315e+02,  4.0500e+01,
        1.5500e+00,  8.3600e+01,  3.5350e+01,  7.0200e+01, -1.1350e+01,
       -6.4150e+01, -1.0265e+02,  1.2900e+02, -3.8200e+01,  1.2495e+02,
        5.3900e+01,  4.5250e+01,  4.4050e+01, -6.9250e+01, -4.5950e+01,
        6.7950e+01, -6.1450e+01,  6.7450e+01, -8.7650e+01,  1.2400e+01,
        4.6750e+01,  4.6900e+01,  9.6800e+01, -3.4350e+01, -1.5835e+02,
       -1.8500e+01,  1.5020e+02, -8.4350e+01,  1.1285e+02, -6.5000e+00,
       -2.3400e+01, -1.2500e+01, -1.1400e+02, -1.0035e+02, -1.3845e+02,
       -5.7650e+01, -2.2900e+01, -1.3070e+02,  7.3850e+01, -6.5050e+01,
        1.0010e+02,  1.5005e+02,  4.2110e+02, -1.1915e+02,  2.8800e+01,
       -8.0850e+01,  1.8705e+02,  8.0650e+01,  4.0000e+00, -6.7650e+01,
        8.4800e+01, -2.3100e+01,  1.6575e+02, -6.6900e+01, -1.7790e+02,
        2.6900e+01,  5.2050e+01,  4.2900e+01, -5.9400e+01,  7.8500e+00,
       -9.0750e+01, -1.5115e+02,  1.9350e+01, -5.0000e-02,  1.4030e+02,
       -1.0765e+02, -2.4450e+01,  9.6800e+01,  5.1100e+01, -6.0000e+00,
       -5.2700e+01,  7.6750e+01,  4.4700e+01,  6.4500e+00,  3.0000e+01,
       -1.3560e+02, -2.5255e+02, -2.7000e+00, -5.7000e+01,  8.4000e+01,
       -3.0400e+01,  3.5850e+01,  7.4250e+01,  2.4900e+01, -9.0600e+01,
       -1.7765e+02, -7.3050e+01, -1.5150e+01, -5.9750e+01, -1.9150e+01,
        3.2150e+01, -9.5100e+01, -1.0380e+02,  3.2600e+01, -1.3800e+02,
        1.7350e+01, -1.3475e+02,  8.5650e+01, -9.2750e+01,  1.7695e+02,
        7.7200e+01, -1.8380e+02,  1.0355e+02,  1.8400e+01,  6.1000e+00,
       -3.6900e+01, -9.8300e+01, -1.7735e+02,  8.8000e+01,  2.2850e+02,
        4.7500e+01, -5.9250e+01, -9.7800e+01,  7.4950e+01, -2.2535e+02,
        4.6750e+01,  3.2500e+00,  9.8300e+01,  5.6850e+01,  3.2650e+01,
       -5.2900e+01,  9.3100e+01, -7.2400e+01, -1.8590e+02,  2.3050e+01,
       -1.3585e+02,  5.6940e+02,  3.2600e+02, -1.2000e+01, -1.4800e+02,
        1.3100e+02, -5.8800e+01, -3.7950e+01, -1.1455e+02, -4.5900e+01,
       -1.3925e+02, -4.8350e+01,  1.8690e+02, -7.8750e+01,  7.0500e+01,
        3.6100e+01,  8.7150e+01,  3.5700e+01,  1.2235e+02,  7.5500e+01,
       -7.3500e+01,  1.5750e+01, -2.1500e+01,  1.3000e+00,  4.3250e+01,
        1.5970e+02,  5.7250e+01,  3.3350e+01,  1.3150e+01,  5.0700e+01,
       -2.4100e+01,  4.8850e+01,  4.6000e+01, -1.0390e+02,  5.3000e+00,
       -7.3000e+01,  3.1650e+01,  2.3350e+01, -1.0950e+01,  5.5600e+01,
        5.9000e+01, -3.0700e+01, -5.4000e+01,  1.5935e+02, -3.6050e+01,
        6.3000e+01,  5.0450e+01, -9.5100e+01, -7.8500e+00, -5.4000e+01,
        4.9000e+01, -2.4800e+01, -9.6900e+01,  1.6000e+01, -8.0700e+01,
        5.3350e+01,  6.1650e+01,  1.1490e+02, -3.2750e+01,  1.1105e+02,
        5.6650e+01,  3.8050e+01,  1.2100e+01, -9.0500e+00, -4.8200e+01,
       -8.8000e+01,  1.1925e+02,  1.0050e+01, -8.7400e+01])

In [108]:
np.sum(nifty.values[1:] - nifty.values[:-1]  >0)

129

In [109]:
np.sum(nifty.values[1:] - nifty.values[:-1]  >0) / len(nifty)

0.5265306122448979

## Task
1. Compute moving average of the last 5 days
2. Subset the data to include only data for Fridays

In [110]:
nifty.index[0]

'01-Jan-2019'

In [111]:
d = pd.Timestamp(nifty.index[0])

In [112]:
d.dayofweek

1

In [113]:
new_index = map(pd.Timestamp, nifty.index)

In [114]:
new_nifty = pd.Series(nifty, index=new_index)

In [115]:
new_nifty

2019-01-01    10910.10
2019-01-02    10792.50
2019-01-03    10672.25
2019-01-04    10727.35
2019-01-07    10771.80
2019-01-08    10802.15
2019-01-09    10855.15
2019-01-10    10821.60
2019-01-11    10794.95
2019-01-14    10737.60
2019-01-15    10886.80
2019-01-16    10890.30
2019-01-17    10905.20
2019-01-18    10906.95
2019-01-21    10961.85
2019-01-22    10922.75
2019-01-23    10831.50
2019-01-24    10849.80
2019-01-25    10780.55
2019-01-28    10661.55
2019-01-29    10652.20
2019-01-30    10651.80
2019-01-31    10830.95
2019-02-01    10893.65
2019-02-04    10912.25
2019-02-05    10934.35
2019-02-06    11062.45
2019-02-07    11069.40
2019-02-08    10943.60
2019-02-11    10888.80
                ...
2019-11-19    11940.10
2019-11-20    11999.10
2019-11-21    11968.40
2019-11-22    11914.40
2019-11-25    12073.75
2019-11-26    12037.70
2019-11-27    12100.70
2019-11-28    12151.15
2019-11-29    12056.05
2019-12-02    12048.20
2019-12-03    11994.20
2019-12-04    12043.20
2019-12-05    12018.40
2019-12-06    11921.50
2019-12-09    11937.50
2019-12-10    11856.80
2019-12-11    11910.15
2019-12-12    11971.80
2019-12-13    12086.70
2019-12-16    12053.95
2019-12-17    12165.00
2019-12-18    12221.65
2019-12-19    12259.70
2019-12-20    12271.80
2019-12-23    12262.75
2019-12-24    12214.55
2019-12-26    12126.55
2019-12-27    12245.80
2019-12-30    12255.85
2019-12-31    12168.45
Name: Close, Length: 245, dtype: float64

In [116]:
new_nifty.index[0]

Timestamp('2019-01-01 00:00:00')

In [117]:
new_nifty.rolling('5d').mean()

2019-01-01    10910.100000
2019-01-02    10851.300000
2019-01-03    10791.616667
2019-01-04    10775.550000
2019-01-07    10723.800000
2019-01-08    10767.100000
2019-01-09    10809.700000
2019-01-10    10812.675000
2019-01-11    10809.130000
2019-01-14    10784.716667
2019-01-15    10806.450000
2019-01-16    10838.233333
2019-01-17    10854.975000
2019-01-18    10865.370000
2019-01-21    10924.666667
2019-01-22    10930.516667
2019-01-23    10905.366667
2019-01-24    10891.475000
2019-01-25    10869.290000
2019-01-28    10763.966667
2019-01-29    10698.100000
2019-01-30    10655.183333
2019-01-31    10699.125000
2019-02-01    10738.030000
2019-02-04    10878.950000
2019-02-05    10913.416667
2019-02-06    10969.683333
2019-02-07    10994.612500
2019-02-08    10984.410000
2019-02-11    10967.266667
                  ...
2019-11-19    11906.683333
2019-11-20    11941.233333
2019-11-21    11948.025000
2019-11-22    11941.300000
2019-11-25    11985.516667
2019-11-26    12008.616667
2019-11-27    12070.716667
2019-11-28    12090.825000
2019-11-29    12083.870000
2019-12-02    12085.133333
2019-12-03    12032.816667
2019-12-04    12028.533333
2019-12-05    12026.000000
2019-12-06    12005.100000
2019-12-09    11959.133333
2019-12-10    11905.266667
2019-12-11    11901.483333
2019-12-12    11919.062500
2019-12-13    11952.590000
2019-12-16    12037.483333
2019-12-17    12101.883333
2019-12-18    12146.866667
2019-12-19    12175.075000
2019-12-20    12194.420000
2019-12-23    12264.750000
2019-12-24    12249.700000
2019-12-26    12201.283333
2019-12-27    12212.412500
2019-12-30    12209.400000
2019-12-31    12223.366667
Name: Close, Length: 245, dtype: float64

In [118]:
dow = new_nifty.copy()
for i in dow.index:
    dow[i] = i.dayofweek

In [119]:
dow

2019-01-01    1.0
2019-01-02    2.0
2019-01-03    3.0
2019-01-04    4.0
2019-01-07    0.0
2019-01-08    1.0
2019-01-09    2.0
2019-01-10    3.0
2019-01-11    4.0
2019-01-14    0.0
2019-01-15    1.0
2019-01-16    2.0
2019-01-17    3.0
2019-01-18    4.0
2019-01-21    0.0
2019-01-22    1.0
2019-01-23    2.0
2019-01-24    3.0
2019-01-25    4.0
2019-01-28    0.0
2019-01-29    1.0
2019-01-30    2.0
2019-01-31    3.0
2019-02-01    4.0
2019-02-04    0.0
2019-02-05    1.0
2019-02-06    2.0
2019-02-07    3.0
2019-02-08    4.0
2019-02-11    0.0
             ...
2019-11-19    1.0
2019-11-20    2.0
2019-11-21    3.0
2019-11-22    4.0
2019-11-25    0.0
2019-11-26    1.0
2019-11-27    2.0
2019-11-28    3.0
2019-11-29    4.0
2019-12-02    0.0
2019-12-03    1.0
2019-12-04    2.0
2019-12-05    3.0
2019-12-06    4.0
2019-12-09    0.0
2019-12-10    1.0
2019-12-11    2.0
2019-12-12    3.0
2019-12-13    4.0
2019-12-16    0.0
2019-12-17    1.0
2019-12-18    2.0
2019-12-19    3.0
2019-12-20    4.0
2019-12-23    0.0
2019-12-24    1.0
2019-12-26    3.0
2019-12-27    4.0
2019-12-30    0.0
2019-12-31    1.0
Name: Close, Length: 245, dtype: float64

In [120]:
new_nifty[dow == 4]

2019-01-04    10727.35
2019-01-11    10794.95
2019-01-18    10906.95
2019-01-25    10780.55
2019-02-01    10893.65
2019-02-08    10943.60
2019-02-15    10724.40
2019-02-22    10791.65
2019-03-01    10863.50
2019-03-08    11035.40
2019-03-15    11426.85
2019-03-22    11456.90
2019-03-29    11623.90
2019-04-05    11665.95
2019-04-12    11643.45
2019-04-26    11754.65
2019-05-03    11712.25
2019-05-10    11278.90
2019-05-17    11407.15
2019-05-24    11844.10
2019-05-31    11922.80
2019-06-07    11870.65
2019-06-14    11823.30
2019-06-21    11724.10
2019-06-28    11788.85
2019-07-05    11811.15
2019-07-12    11552.50
2019-07-19    11419.25
2019-07-26    11284.30
2019-08-02    10997.35
2019-08-09    11109.65
2019-08-16    11047.80
2019-08-23    10829.35
2019-08-30    11023.25
2019-09-06    10946.20
2019-09-13    11075.90
2019-09-20    11274.20
2019-09-27    11512.40
2019-10-04    11174.75
2019-10-11    11305.05
2019-10-18    11661.85
2019-10-25    11583.90
2019-11-01    11890.60
2019-11-08    11908.15
2019-11-15    11895.45
2019-11-22    11914.40
2019-11-29    12056.05
2019-12-06    11921.50
2019-12-13    12086.70
2019-12-20    12271.80
2019-12-27    12245.80
Name: Close, dtype: float64